services:
  cashmsystem-web:
    image: cashmsystem-web:latest
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik_proxy"

      # SERVICE
      - "traefik.http.services.cashmsystem.loadbalancer.server.port=80"

      # HTTPS ROUTER
      - "traefik.http.routers.cashmsystem.rule=Host(\"cashmsystem.com.ar\") || Host(\"www.cashmsystem.com.ar\")"
      - "traefik.http.routers.cashmsystem.entrypoints=websecure"
      - "traefik.http.routers.cashmsystem.tls=true"
      # OJO: quitamos esta línea para evitar el error:
      # - "traefik.http.routers.cashmsystem.tls.options=default@file"
      - "traefik.http.routers.cashmsystem.middlewares=default-sec-headers@file,gzip-compress@file,cors-headers@file"

      # HTTP ROUTER → redirect a HTTPS
      - "traefik.http.routers.cashmsystem-http.rule=Host(\"cashmsystem.com.ar\") || Host(\"www.cashmsystem.com.ar\")"
      - "traefik.http.routers.cashmsystem-http.entrypoints=web"
      - "traefik.http.routers.cashmsystem-http.middlewares=redirect-https@file"

    networks:
      - traefik

networks:
  traefik:
    external: true
    name: traefik_proxy